


.btn--buy {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: black;
  border: 2px solid black;
  padding: 3px 5px; 
  margin: 10px 5px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  width: 250px;
}

.btn--buy:hover {background-color: rgb(0, 40, 13); color: white; transition: all 0.5s;}



// NEW DESIGN

.buy__section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 200px;
  
  border-top: 2px solid black;
  border-left: 2px solid black;
  padding: 30px 50px;
  background-color: $light-primary-color;
  overflow: hidden;
  z-index: 1;

  ul {
    list-style:square inside;
  } 
}

.buy__left {
  min-width: 300px;
  top: -55px;
  z-index: -1;
  transform: translate(20px, 15px);
  overflow: hidden;
}