/* HOME PAGE LAYOUT */

.homepage-wrapper { 
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  
}

.homepage-column { 
  position: relative;
  flex-grow: 1;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

  .col1 {background-image: url(../images/food1.jpg);}
  .col2 {background-image: url(../images/brunch6.jpg);}
  .col3 {background-image: url(../images/brunch5.jpg);}

/* OVERLAY EFFECT */

.homepage-overlay {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s ease-in;
  color: rgb(0, 0, 0);
  font-size: 50px;
  padding: 35px;
  text-align: center;
  cursor: none;
}
  .homepage-overlay:hover {opacity: 0.8;}
  .overlay1 {background-color: rgb(51, 121, 51);}
  .overlay2 {background-color: rgb(213, 145, 27);}
  .overlay3 {background-color: rgb(51, 121, 99);}

@media only screen and (min-width: 800px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .desktop {
    display: none;
  }

  /* HOMEPAGE */
  .homepage-wrapper {
    flex-direction: column;
  }
 
    .homepage-overlay{
      opacity: 0.2;
    }
    .text-mobile {
      text-align: center;
      padding: 10px;
      opacity: 1;
      font-size: 46px;
      font-weight: bold;
    }
  
  
  .homepage-column {
    max-height: 33vh;
  }
}

// ANIMATION ON DESKTOP SITE 

.homepage-intro { 
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(31, 12, 8);
  z-index: 2000;
  color: brown;
}

.slider {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(186, 138, 17);
  z-index: 2000;
  transform: translateY(100%);
}

.hide { 
  background: rgb(31, 12, 8);
  overflow: hidden;
}

.hide span { 
  display: inline-block;
  transform: translateY(100%);
}