.thisweek__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 65px;
  padding-left: 50px;
  font-size: 80px;
  color: white;
  min-height: 30vh;
  position: relative;
  background-image: url(../images/table.jpg) ;
  background-size: cover;
  background-position: 0% 35%;

  .image-header.position1 {
    position: absolute;
    right: 5%;
    top: 80%;
    width: 200px;
    height: 80vh;
    z-index: 10;
    overflow: hidden; 

    img {
      min-height: 100vh;
    }
  }

  .image-header.position2 {
    position: absolute;
    right: 15%;
    top: 160%;
    width: 200px;
    height: 50vh;
    z-index: 10;
    overflow: hidden; 

    img {
      min-height: 20vh;
    }
  }

  
}

.thisweek__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 50px ;
  font-size: 13px;
  
  

  .thisweek__text {
    flex-grow: 1;
    padding: 25px;
    width: 70%;
    background-color: rgb(225, 189, 158);
  }

  article {
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    font-size: 20px;
    list-style-type: none;

    p {
      font-size: 20px;
    }

    li {
      padding: 10px;
      border-left: 2px solid black;
      font-weight: thick;
      color: rgb(67, 67, 67);
    }
  }

  

  .thisweek__images {
      img {
        max-height: 300px;
      }
    
    
    flex: 1;
    flex-basis: 100%;
  }
}

