/* CETTE SEMAINE LAYOUT */
.articles {
  a {display: block; color: $dark-primary-color; margin: 20px 0px;}
  a:hover {color: $accent-color; }
}

.article__thisweek {
  // border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  //border: 1px solid $dark-primary-color;
  position: relative;
  padding: 20px 40px;
  width: 60%;
  
  //background-color: rgb(255, 255, 255);
  //transform: translateY(-12%);
  //box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  z-index: 2;
  // background-image: url("../images/flower-symetry.png");
}

@media screen and (max-width: 1200px) {
  .article__thisweek { 
    padding: 20px 40px;
    width: 100%;
    border: 1px solid black;
  
  }

  
}

.thisweek-image {
  
  @media screen and (min-width: 1200px) {
    position: absolute;
    right: -55%;
    top: 10%;
  }
  @media screen and (max-width: 1200px) {
    position: relative;
    max-width: 100%;
    height: auto;
  }
  
  
  
  
  img {
    // border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    max-height: 400px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  
}

.thisweek-image.sketchy {
  
  width: fit-content;
  height: auto;
  
  //max-width: 100%;
  //border: 1px solid #333333;
  //border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  
  &::before {
      content: '';
      //border: 2px solid #353535;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      //transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
      border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }
}

@media screen and (max-width: 1200px) {
  .thisweek-image {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid red;
  }
  
}
@media screen and (min-width: 1200px) {
  .header__thisweek {
    display: flex;
    align-items: flex-start;
  }
}
