/* CETTE SEMAINE LAYOUT */

.day { 
  position: relative;
  display: flex;
  flex-flow: row ;
  align-items: center;
  justify-content: space-between;
  padding: 10%;
  background-color: rgb(255, 255, 255);
  height: 50vh;
  width: 100%;
  color: rgb(40, 40, 40);
  z-index: 0;
}

.day-detail {
  position: relative;
  padding-left: 25px;
  margin-right: 55px;
}

.day-title {margin-right: 15px;}

.week-name { 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  height: 25vh;
  width: 100%;
  color: white;
  background-color: tomato;
  position: sticky;
  top: 0px;
}

.vertical-bar {
  width: 5px;
  height: 100%;
  background-color: black;
}


.parallax-banner {
  height: 30vh;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  z-index: 2;
}

  .image-1 {background-image: url(images/palourdes.jpg);}
  .image-2 {background-image: url(images/garlic.jpg);}
  .image-3 {background-image: url(images/Scale_Common_Roach.JPG);}


.article__thisweek {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: 7px solid $dark-primary-color;
  position: relative;
  padding: 20px 40px;
  width: 60%;
  background-color: rgb(255, 255, 255);
  transform: translateY(-12%);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  z-index: 2;
  // background-image: url("../images/flower-symetry.png");
}

@media screen and (max-width: 1200px) {
  .article__thisweek { 
    
      width: 100%;
      transform: translateY(-5%);
      padding: 20px 40px;
      width: 100%;
    
  
  }
}

.thisweek-image {
  position: absolute;
  right: -55%;
  top: 0%;
  
  
  img {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    height: auto;
    max-height: 400px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  
}

@media screen and (max-width: 1200px) {
  .thisweek-image {
    position: relative;
    right: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
}
@media screen and (min-width: 1200px) {
  .header__thisweek {
    display: flex;
    align-items: flex-start;
  }
}
