.archives { 
  display: flex;
  flex-flow: row wrap; 
  justify-content: center;
  align-items: stretch;
}
.article__archive {
  color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 2%;
  margin: 10px;
  max-width: 25%;
  min-height: 300px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  cursor: none;
  z-index: 2;
  
  a {color: black;}
  
  @media screen and (max-width: 1000px) {
    max-width: 30%;
  }
  
  @media screen and (max-width: 700px) {
    max-width: 100%;
  }
  
  
  .pastweek-image {
    
    border-radius: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    max-height: 200px;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .pastweek-text {
    margin: 5px;
    padding: 15px;

  }
  @media screen and (min-width: 1000px) {
    &:hover {
      background-color: rgba(33, 2, 33, 0.105);
      transition: 0.5s;
      cursor: none;
    }
  }

  
}



.archives_navigation {
  .page-number {
    min-width: 100px;
  }
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}


.sketchy {
  
  border: 1px solid #333333;
  // border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  
  &::before {
      border: 2px solid #353535;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
      border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }
}





/* Pagination */
.pagination {
  clear:both;
  position:relative;
  font-size:11px; /* Pagination text size */
  line-height:13px;
  float:right; /* Pagination float direction */
}
.pagination span, .pagination a {
  display:block;
  border: 1px solid $dark-primary-color;
  float:left;
  font-size: 18px;
  margin: 32px 2px 2px 0;
  padding:16px 19px 15px 19px;
  text-decoration:none;
  
  width:auto;
  color:black; /* Pagination text color */
  background: rgba(85, 85, 85, 0); /* Pagination non-active background color */
  -webkit-transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -ms-transition: background .15s ease-in-out;
  -o-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.pagination a:hover{
  color:white;
  background: $dark-primary-color; /* Pagination background on hover */
}
.pagination .current{
  padding:16px 19px 15px 19px;
  background: $dark-primary-color; /* Current page background */
  color:#fff;
}