.archives { 
  display: flex;
  flex-flow: row wrap; 
  justify-content: center;
  align-items: center;
}
.article__archive {
  color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 2%;
  margin: 10px;
  max-width: 20%;
  //background-color: $dark-primary-color;
  //box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  cursor: none;
  z-index: 2;
  
  a {color: black;}
  
  @media screen and (max-width: 1000px) {
    max-width: 30%;
  }
  
  @media screen and (max-width: 700px) {
    max-width: 100%;
  }
  
  
  .pastweek-image {
    border-radius: 2%;
    overflow: hidden;
    height: 200px;

    img {
      max-width:100%;
    }
  }

  .pastweek-text {
    margin: 5px;
    padding: 15px;

  }
  @media screen and (min-width: 1000px) {
    &:hover {
      background-color: rgba(33, 2, 33, 0.105);
      transition: 0.5s;
      cursor: none;
    }
  }

  
}



.archives_navigation {
  .page-number {
    min-width: 100px;
  }
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}


.sketchy {
  
  border: 1px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  
  &::before {
      content: '';
      border: 2px solid #353535;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
      border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }
}