/* HOME PAGE LAYOUT */

.homepage-wrapper { 
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
 }

.homepage-column { 
  position: relative;
  flex-grow: 1;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

  .col1 {background-image: url(./images/garlic.jpg);}
  .col2 {background-image: url(./images/brunch.jpg);}
  .col3 {background-image: url(./images/palourdes.jpg);}

/* OVERLAY EFFECT */

.homepage-overlay {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s ease-in;
  color: rgb(0, 0, 0);
  font-size: 50px;
}
  .homepage-overlay:hover {opacity: 0.8;}
  .overlay1 {background-color: tomato;}
  .overlay2 {background-color: wheat;}
  .overlay3 {background-color: rgb(177, 255, 247);}


#site-title {
  background-color: white;
  padding: 5px;
  width: 100%;
  position: absolute;
  font-family: 'Kalam', cursive;
  font-size: 20px;
  top: 0px; 
  text-align: center;
  z-index: 1000;

}

// ANIMATION ON DESKTOP SITE 

.intro { 
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(31, 12, 8);
  z-index: 2000;
}



.intro { 
  display: flex;
  justify-content: center;
  align-items: center;
  color: brown;
}

.slider {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(186, 138, 17);
  z-index: 2000;
  transform: translateY(100%);
}

.hide { 
  background: rgb(31, 12, 8);
  overflow: hidden;
}

.hide span { 
  display: inline-block;
  transform: translateY(100%);
}