// COLORS



// GENERAL STYLING

* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Abril Fatface', cursive;
  font-size: 15px;
  background-color: rgb(225, 225, 225);
}

/* TITLES */
h1  {font-size: 40px; padding: 0px; margin: 0px;}
h2  {font-size: 60px;}
h3  {font-size: 20px; color: rgb(135, 135, 135);}
p   {font-size: 15px; padding: 15px;  }
a {text-decoration: none; color: grey;}
a:hover {color: white;}
a:visited {text-decoration: none;
}
.font-small {font-size: 10px}

.text-strong {
  p {
    font-weight: bold;
  }
}

.red { color: red;}

/* BUTTONS */

.btn-medium {color: black; font-size: 20px;border: 1px solid black; width: 250px; margin: 30px 0px; padding: 2px 5px;}
.btn-medium:hover {background-color: black; color: white;}

// .container { 
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: auto;
// }

// FLEX STYLING

.flex-row {display: flex;flex-direction: row;}
.flex-column {display: flex; flex-direction: column;}
.nowrap {flex-wrap: nowrap;}
.space-between {justify-content: space-between;}
.space-evenly {justify-content: space-evenly;}
.flex-start {justify-content: flex-start;}

//FOOTER 

footer { 
  padding: 25px;
  color: rgb(230, 230, 230);
  position: relative;
  background-color: rgb(0, 53, 53);
  min-height: 200px;
  display: flex; 
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: 'Libre Franklin', sans-serif;
  
  p {
    font-size: 13px;
  }

}