nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

// HAMBURGER ICON STYLING
.ham {
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: white; 
  stroke-width:5.5;
  stroke-linecap:round;
}

.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active .top {
  stroke-dashoffset: -68px;
}
.ham4.active .bottom {
  stroke-dashoffset: -68px;
}

// NAV BAR
.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 15px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  z-index: 100;

  &--right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    color: black;
  }

  #site-title {
    font-family: 'Cardo', serif;
    color: $primary-text-color;
    font-size: 30px;
    font-weight: bold;
    display: flex; 
    flex-direction: row; 
    align-items: center;
    cursor: none;
  }
}

// styling the "buy" button in the navbar
.btn--nav {
  //positioning
  width: 200px; 
  padding: 6px; 
  margin-right: 25px;
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: center;

  // style
  font-family: 'Josefin Sans', sans-serif;
  color: $primary-text-color; 
  font-size: 15px; 
  font-weight: bolder;
  border: 1px solid $primary-text-color; 
  text-align: center; 
  cursor: none; 

  @media screen and (max-width: 800px) {
    display: none;
    
  }
}
.btn--nav:hover {
  background-color: $dark-primary-color; 
  color: $light-primary-color;
}

.hamburger { 
  height: 2rem;
  width: 2rem;
  background-color: $dark-primary-color;
  cursor: none;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  transition: 1s;
}
.hamburger.active { 
  transition: 1s;
  background-color: red;
}

// MENU WHEN IT'S OPEN
.nav-links {
  padding: 80px 130px 130px 130px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style: none;
  transition: 1s all ease-out;
  background-color: rgba(0, 58, 38, 0.98);
  clip-path: circle(100px at 150% 0%);
  -webkit-clip-path: circle(100px at 150% 0%); 
  z-index: 99;
  text-align: center;
  cursor: none;

  h2 {
    font-size: 25px;
  }

  
  li a {
    padding: 10px 20px;
    position: relative;
    display: block;
    text-decoration: none;
    font-family: "Lato";
    font-size: 2rem;
    text-transform: uppercase;
    padding: 4px 0;
    transition: 0.5s;
    // max-width: 400px;
    
  }
  li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0%;
    background: $accent-color;
    transition: transform 0.5s;
    transform: scaleX(0.15);
    transform-origin: center;
  }
  li a:hover {
    
  }
  li a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
  }
  
    
}


.nav-links.open {
  position: fixed;
  display: flex;
  height: 100%;
  clip-path: circle(2500px at 90% 0%);
  -webkit-clip-path: circle(2500px at 90% 0%); 
  transition: 1s all ease-out;
  height: 100%;
  margin-bottom: 0px;
  z-index: 99;
}

@media only screen and (max-width: 800px) {
    
  // .nav-links {
  //   padding: 5px;
  //   font-size: 5px;
  //   color: red;
  //   background-color: red;
  // }

}