/* RESPONSIVE MEDIA QUERIES */

@media only screen and (max-width: 500px) {

  p {font-size: 15px;}
  h1 {font-size: 30px;}
  h2 {font-size: 25px;}
  

  /* HOMEPAGE */
  .homepage-wrapper {flex-direction: column;}
  .homepage-overlay {
    opacity: 0.7;
  }
  .homepage-column {
    max-height: 33vh;
  }

  /* CETTE SEMAINE */
  .day {flex-direction: column; height: auto;}
  .day-detail{padding: 0px; padding: 0px; margin: 10px 0px;}
  .parallax-banner{height: 30vh;}
}

