@import url("https://fonts.googleapis.com/css2?family=Cardo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
#find-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 100px 0px;
}

@media only screen and (max-width: 700px) {
  #find-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#find-us .horaires {
  position: relative;
  padding: 35px;
  min-width: 300px;
  margin-right: 25px;
}

#find-us .title {
  font-size: 40px;
  top: -35px;
  left: 20px;
  position: absolute;
  text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1);
}

#find-us li {
  margin: 10px 0px;
}

#find-us .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#find-us .list-item {
  margin-bottom: 10px;
}

#find-us p {
  font-size: 17px;
  padding: 5px;
}

#find-us div span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
}

#comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid red;
  height: 100%;
}

#comment .number {
  padding: 10px;
  vertical-align: center;
  border: 1px solid white;
  border-radius: 50%;
}

.credits {
  color: grey;
}

#historique h1 {
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}

#historique .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 30px 0px;
  min-height: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 0.3;
}

#historique .category .left {
  min-width: 400px;
  border-right: 1px solid black;
}

#historique .category .right {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

@media only screen and (max-width: 800px) {
  #historique h1 {
    border: 0px;
    padding-bottom: 0px;
  }
  #historique .category {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px;
  }
  #historique .category .left {
    border-bottom: 1px solid black;
    border-right: 0px;
    margin-bottom: 20px;
  }
  #historique p {
    padding: 0px;
  }
}

#historique .active {
  opacity: 1;
}

#lelieu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: grey;
  min-height: 50vh;
  margin-top: 100px;
  margin-bottom: 30px;
}

#lelieu #title-galerie {
  position: absolute;
  top: -35px;
  left: 50%s;
}

/* CETTE SEMAINE LAYOUT */
.day {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10%;
  background-color: white;
  height: 50vh;
  width: 100%;
  color: #282828;
  z-index: 0;
}

.day-detail {
  position: relative;
  padding-left: 25px;
  margin-right: 55px;
}

.day-title {
  margin-right: 15px;
}

.week-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 35px;
  height: 25vh;
  width: 100%;
  color: white;
  background-color: tomato;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.vertical-bar {
  width: 5px;
  height: 100%;
  background-color: black;
}

.parallax-banner {
  height: 30vh;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  z-index: 2;
}

.image-1 {
  background-image: url(images/palourdes.jpg);
}

.image-2 {
  background-image: url(images/garlic.jpg);
}

.image-3 {
  background-image: url(images/Scale_Common_Roach.JPG);
}

.article__thisweek {
  position: relative;
  padding: 20px 40px;
  width: 60%;
  background-color: white;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  z-index: 2;
}

.thisweek-image {
  position: absolute;
  right: -55%;
  top: 0%;
}

.thisweek-image img {
  border-radius: 1%;
  max-height: 350px;
  max-width: 350px;
  overflow: hidden;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media screen and (max-width: 1200px) {
  .thisweek-image {
    position: relative;
    left: 0%;
    max-height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 5px;
  }
  .article__thisweek {
    width: 100%;
    -webkit-transform: translateY(-11%);
            transform: translateY(-11%);
    padding: 20px 40px;
    width: 100%;
  }
}

.rectangle {
  margin: 15px 15px;
  position: relative;
  padding: 25px 45px;
}

.title {
  font-size: 30px;
  position: absolute;
  top: -25px;
  left: 20px;
}

.bg--primary {
  background-color: #ffa927;
}

.bg--secondary {
  background-color: #c6967d;
}

.border--primary {
  border: 3px solid #ffa927;
}

.border--secondary {
  border: 3px solid #c6967d;
}

#achat {
  position: relative;
  padding: 35px 35px;
  margin: 25px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 50%;
}

.presentation {
  margin: 40px 0px;
}

.tip {
  position: relative;
  padding: 15px;
  border-radius: 15px;
  background-color: #dadada;
  margin: 20px 45px;
  height: auto;
}

.tip .icon {
  position: absolute;
  top: -30px;
  left: -30px;
  padding: 10px;
  border-radius: 30px;
}

#galerie-brunch {
  background-color: grey;
  width: 80vw;
  min-height: 80vh;
}

#onselache {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* HOME PAGE LAYOUT */
.homepage-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.homepage-column {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
}

.col1 {
  background-image: url(../images/food1.jpg);
}

.col2 {
  background-image: url(../images/brunch6.jpg);
}

.col3 {
  background-image: url(../images/brunch5.jpg);
}

/* OVERLAY EFFECT */
.homepage-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  color: black;
  font-size: 50px;
  padding: 35px;
  text-align: center;
  cursor: none;
}

@media only screen and (max-width: 800px) {
  .homepage-overlay {
    cursor: auto;
  }
}

.homepage-overlay:hover {
  opacity: 0.8;
}

.overlay1 {
  background-color: #337933;
}

.overlay2 {
  background-color: #d5911b;
}

.overlay3 {
  background-color: #337963;
}

@media only screen and (min-width: 800px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .desktop {
    display: none;
  }
  /* HOMEPAGE */
  .homepage-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .homepage-overlay {
    opacity: 0;
  }
  .homepage-overlay:hover {
    opacity: 0;
  }
  .text-mobile {
    text-align: center;
    padding: 10px;
    opacity: 1;
    font-size: 46px;
    font-weight: bold;
  }
  .homepage-column {
    max-height: 33vh;
  }
}

.homepage-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #1f0c08;
  z-index: 2000;
  color: brown;
}

.slider {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ba8a11;
  z-index: 2000;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.hide {
  background: #1f0c08;
  overflow: hidden;
}

.hide span {
  display: inline-block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.ham {
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamRotate180.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: white;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham4 .top {
  stroke-dasharray: 40 121;
}

.ham4 .bottom {
  stroke-dasharray: 40 121;
}

.ham4.active .top {
  stroke-dashoffset: -68px;
}

.ham4.active .bottom {
  stroke-dashoffset: -68px;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 15px;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  z-index: 100;
}

.top-bar--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: black;
}

.top-bar #site-title {
  font-family: 'Cardo', serif;
  color: #212121;
  font-size: 30px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: none;
}

.btn--nav {
  width: 200px;
  padding: 6px;
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #212121;
  font-size: 15px;
  font-weight: bolder;
  border: 1px solid #212121;
  text-align: center;
  cursor: none;
}

@media screen and (max-width: 800px) {
  .btn--nav {
    display: none;
  }
}

.btn--nav:hover {
  background-color: #002b1d;
  color: #f0f0f0;
}

.hamburger {
  height: 2rem;
  width: 2rem;
  background-color: #002b1d;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: 1s;
  transition: 1s;
}

.hamburger.active {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: red;
}

.nav-links {
  padding: 80px 130px 130px 130px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100%;
  list-style: none;
  -webkit-transition: 1s all ease-out;
  transition: 1s all ease-out;
  background-color: rgba(0, 58, 38, 0.98);
  clip-path: circle(100px at 150% 0%);
  -webkit-clip-path: circle(100px at 150% 0%);
  z-index: 99;
  text-align: center;
  cursor: none;
}

.nav-links h2 {
  font-size: 25px;
}

.nav-links.open {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  clip-path: circle(2500px at 90% 0%);
  -webkit-clip-path: circle(2500px at 90% 0%);
  -webkit-transition: 1s all ease-out;
  transition: 1s all ease-out;
  height: 100%;
  margin-bottom: 0px;
  z-index: 99;
}

/* RESPONSIVE MEDIA QUERIES */
@media only screen and (max-width: 800px) {
  p {
    font-size: 10px;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 15px;
  }
  /* CETTE SEMAINE */
  .day {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .day-detail {
    padding: 0px;
    padding: 0px;
    margin: 10px 0px;
  }
  .parallax-banner {
    height: 30vh;
  }
}

.btn--buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: black;
  border: 2px solid black;
  padding: 3px 5px;
  margin: 10px 5px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 250px;
}

.btn--buy:hover {
  background-color: #00280d;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.buy__section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 200px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  padding: 30px 50px;
  background-color: #f0f0f0;
  overflow: hidden;
  z-index: 1;
}

.buy__section ul {
  list-style: square inside;
}

.buy__left {
  min-width: 300px;
  top: -55px;
  z-index: -1;
  -webkit-transform: translate(20px, 15px);
          transform: translate(20px, 15px);
  overflow: hidden;
}

.archives {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.article__archive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 25%;
  margin-right: 0;
  padding: 15px;
  margin: 30px 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  z-index: 2;
}

.article__archive div {
  margin: 10px;
}

.article__archive .pastweek-image img {
  max-height: 150px;
}

.archives_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.archives_navigation .page-number {
  min-width: 100px;
}

/***********
z index recap: 
footer: 0
main: 1
top-bar: 100
nav-links: 99
***********/
/************ GENERAL STYLING ***********
******************************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  cursor: none;
  font-size: 18px;
  background-color: #f0f0f0;
  color: #212121;
  height: auto;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
}

body strong, html strong {
  font-weight: bold;
}

body h1, html h1 {
  font-size: 60px;
  padding: 0px;
  margin: 0px;
  font-family: 'Cardo', serif;
}

body h2, html h2 {
  font-size: 40px;
  font-family: 'Cardo', serif;
}

body h3, html h3 {
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Cardo', serif;
  text-align: center;
}

body h4, html h4 {
  font-size: 22px;
  font-weight: bolder;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

body p, html p {
  padding: 15px 0px;
}

body .font--small, html .font--small {
  font-size: 10px;
}

body .accent-color, html .accent-color {
  color: #795548;
}

body a, html a {
  color: #FFFFFF;
  text-decoration: none;
  cursor: none;
}

body a:hover, html a:hover {
  color: #795548;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: none;
}

@media only screen and (max-width: 800px) {
  body a:hover, html a:hover {
    color: #FFFFFF;
  }
}

@media only screen and (max-width: 800px) {
  body {
    cursor: auto;
  }
}

main {
  height: 100%;
  background-color: #f0f0f0;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

main article li {
  padding: 5px 0px;
}

main.container {
  padding: 35px;
}

.main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 150px;
}

/************ BUTTONS & LINKS ***********
******************************************/
.btn--medium {
  color: black;
  font-size: 20px;
  border: 1px solid black;
  width: 300px;
  margin: 30px 0px;
  padding: 3px 5px;
}

.btn--medium:hover {
  background-color: black;
  color: white;
}

.cursor {
  width: 1rem;
  height: 1rem;
  background-color: #795548;
  border-radius: 50%;
  position: absolute;
  z-index: 1020;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: 0.1s all ease-out;
  transition: 0.1s all ease-out;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

@media only screen and (max-width: 800px) {
  .cursor {
    display: none;
  }
}

.cursor.active {
  -webkit-transform: scale(2);
          transform: scale(2);
  border: 1px solid #795548;
  background-color: rgba(0, 0, 0, 0);
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 800px) {
  .flex-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30vh;
}

header .header--overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header--overlay h2 {
  color: white;
}

header .header--overlay.brunch {
  background-image: linear-gradient(-45deg, rgba(194, 95, 19, 0.52), rgba(40, 117, 19, 0.33));
}

header .header--overlay.about {
  background-image: linear-gradient(-45deg, rgba(19, 46, 194, 0.52), rgba(40, 117, 19, 0.73));
}

header .header--overlay.thisweek {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 50px;
}

header.header__buy {
  background-image: url("../images/gas.jpg");
  background-position: 0% 67%;
  background-size: cover;
}

header.header__buy .header--overlay {
  background-color: rgba(14, 87, 0, 0.2);
}

header.header__brunch {
  background-image: url("../images/brunch2.jpg");
  background-position: top;
  background-size: cover;
}

header.header__thisweek {
  background-image: url("../images/coriander.jpg");
  background-position: top;
  background-size: cover;
}

header.header__thisweek h2 {
  color: white;
}

header.header__archives {
  background-image: url("../images/archives.jpg");
  background-position: top;
  background-size: cover;
}

header.header__archives h2 {
  color: white;
}

footer {
  font-family: 'Josefin Sans', sans-serif;
  color: #FFFFFF;
  background-color: #002b1d;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 25px;
  min-height: 200px;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer h4 {
  text-align: left;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer ul li {
  padding-right: 30px;
  padding-top: 10px;
}

footer .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */