// FONTS

@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap'); // font-family: 'Cardo', serif;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap'); // font-family: 'Josefin Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap'); // for the title, font-family: 'Monoton', cursive;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); // font-family: 'Montserrat', sans-serif;

// Palette
$dark-primary-color     :#002b1d; // background
$default-primary-color  :#65B285; // background
$light-primary-color    :#f0f0f0; // background
$text-primary-color     :#FFFFFF; // text
$accent-color           :#795548; // background
$primary-text-color     :#212121; // text
$secondary-text-color   :#757575; // text
$divider-color          :#BDBDBD; // border

// SASS IMPORT
@import "./pages/about";
@import "./pages/thisweek"; 
@import "./pages/brunch";
@import "./pages/index"; 
@import "./menu"; 
@import "./pages/buy";
@import "./pages/archives";

/***********
z index recap: 
footer: 0
main: 1
top-bar: 100
nav-links: 99
***********/



/************ GENERAL STYLING ***********
******************************************/

* {margin: 0; padding: 0; box-sizing: border-box;}


body, html {
  cursor: none;
  @media only screen and (max-width: 800px)  {
    cursor: auto; 
  }
  
  font-size: 18px;
  background-color: $light-primary-color;
  color: $primary-text-color;
  height: auto;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;



  strong {font-weight: bold;}

  h1  {font-size: 60px; padding: 0px; margin: 0px; font-family: 'Cardo', serif;}
  h2  {
    font-size: 40px;font-family: 'Cardo', serif;
    @media screen and (max-width: 1200px) {
      font-size: 30px;
    }
  }
  h3  {font-size: 30px; font-weight: bolder;font-family: 'Cardo', serif; text-align: center; padding: 10px 0px;}
  h4  {
    padding: 10px 0px;
    font-size: 22px; 
    font-weight: bolder;
    font-family: 'Josefin Sans', sans-serif; 
    text-align: center;
    @media screen and (max-width: 1200px) {
      font-size: 20px;
    }
  }
  p   {padding: 15px 0px; }
  .accent-color {color: $accent-color;}

  a {
    color: $text-primary-color; 
    text-decoration: none;  
    cursor: none; 
    &:hover {color: $accent-color; transition: 0.5s; cursor: none;}
  }
  

}

@media screen and (min-width: 1000px) {
  
  .desaturate {
    
    filter: grayscale(100%);
    transition: .2s ease-in;
    
      &:hover {
        filter: grayscale(0%);
        transition: .2s ease-out;
      }
    
  }
}


main {
  height: 100%; //make sure to cover the screen 
  background-color: $light-primary-color ; // need a solid bg to hide the footer 
  position: relative; // put on top 
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
  article {
    li {
      padding: 5px 0px;
    }
  }
}

main.container { 
  padding: 35px;

  
}

.main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  min-height: 150px;
}

/************ BUTTONS & LINKS ***********
******************************************/

.btn--medium {
  // style
  font-family: 'Josefin Sans', sans-serif;
  color: $primary-text-color; 
  font-size: 15px; 
  font-weight: bolder;
  border: 1px solid $primary-text-color; 
  text-align: left; 
  cursor: none; 
  transition: 0.5s;
  min-width: 200px; 
  margin: 30px 0px; 
  padding: 5px; 
}
.btn--medium:hover {
  background-color: $dark-primary-color; 
  color: $light-primary-color;
  transition: 0.5s;
}

.btn--small {
  // style
  font-family: 'Josefin Sans', sans-serif;
  color: $primary-text-color; 
  font-size: 15px; 
  font-weight: bolder;
  border: 1px solid $primary-text-color; 
  text-align: center; 
  cursor: none; 
  transition: 0.5s;
  min-width: 100px; 
  margin: 30px 0px; 
  padding: 5px; 
  
}

.btn--small:hover {
  background-color: $dark-primary-color; 
  color: $light-primary-color;
  transition: 0.5s;
}

// CURSOR 
.cursor {
  width: 1rem;
  height: 1rem;
  background-color: $accent-color;
  border-radius: 50%;
  position: absolute;
  z-index: 1020;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: 0.1s all ease-out;
  transform-origin: 100% 100%;
  @media only screen and (max-width: 800px)  {
    display: none;
  }
}

.cursor.active {
  transform: scale(2);
  border: 1px solid $accent-color;
  background-color: rgba(0, 0, 0, 0 );
}


// FLEX STYLING

.flex-row {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 800px)  {
  .flex-mobile {
    display: flex;
    flex-direction: column;
  }
}

.flex-column {display: flex; flex-direction: column;}
.nowrap {flex-wrap: nowrap;}
.space-between {justify-content: space-between;}
.space-evenly {justify-content: space-evenly;}
.flex-start {justify-content: flex-start;}
.align-center {align-items: center;}

//HEADER AND FOOTER STYLING


header { 
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  
  .header--overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    h2 {color: white;}
  }
  
  .header--overlay.brunch {background-image: linear-gradient(-45deg, rgba(194, 95, 19, 0.52), rgba(40, 117, 19, 0.33));}
  .header--overlay.buy {background-image: linear-gradient(-45deg, rgba(194, 109, 19, 0.52), rgba(117, 19, 19, 0.112));}
  .header--overlay.archives {background-image: linear-gradient(-45deg, rgba(188, 19, 194, 0.091), rgba(0, 0, 0, 0.93));}
  .header--overlay.about {background-image: linear-gradient(-45deg, rgba(42, 194, 19, 0.303), rgba(117, 19, 19, 0.714));}
  .header--overlay.thisweek {
    display: flex;
    justify-content: center;
    padding: 30px;
    // background-image: linear-gradient(-45deg, rgba(19, 46, 194, 0.52), rgba(40, 117, 19, 0.73));
  }
}

header.header__buy {
  background-image: url("../images/sushi.jpg");
  background-position: 0% 37%;
  background-size: cover;
  .header--overlay {background-color: rgba(14, 87, 0, 0.2);}

}
header.header__brunch {
  background-image: url("../images/brunch2.jpg");
  background-position: top;
  background-size: cover;
}
header.header__thisweek {
  background-image: url("../images/coriander.jpg");
  background-position: top;
  background-size: cover;
  h2 {color: white;}
}
header.header__archives {
  background-image: url("../images/leftover.jpg");
  background-position: top;
  background-size: cover;
  background-position: 80% 50%;
  h2 {color: white;}
}
header.header__about {
  background-image: url("../images/chicken.jpg");
  background-position: top;
  background-size: cover;
  background-position: 80% 50%;
  h2 {color: white;}
}

footer { 
  //colors
  font-family: 'Josefin Sans', sans-serif;
  color: $text-primary-color;
  background-color: $dark-primary-color;
  h4 {text-align: left;}
  //positioning
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 25px;
  min-height: 200px;
  z-index: 0;
  //layout
  display: flex; 
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;

    li {
      padding-right: 30px;
      padding-top: 10px;
    }
  } 

  .footer__social {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}



