@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,600;1,300&family=Zilla+Slab+Highlight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
.about-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 12, 12, 0.4)), to(rgba(61, 255, 51, 0.1))), url(../images/Aix-En-Provence.jpg);
  background: linear-gradient(0deg, rgba(255, 12, 12, 0.4), rgba(61, 255, 51, 0.1)), url(../images/Aix-En-Provence.jpg);
  background-size: cover;
  min-height: 60vh;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
    margin: 0px;
  }
}

#find-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 100px 0px;
}

@media only screen and (max-width: 700px) {
  #find-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#find-us .horaires {
  position: relative;
  background-color: #d8775a;
  padding: 35px;
  min-width: 300px;
  margin-right: 25px;
}

#find-us .title {
  font-size: 40px;
  top: -35px;
  left: 20px;
  position: absolute;
  text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1);
}

#find-us li {
  margin: 10px 0px;
}

#find-us .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#find-us .list-item {
  margin-bottom: 10px;
}

#find-us p {
  font-size: 17px;
  padding: 5px;
}

#find-us div span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
}

#comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid red;
  height: 100%;
}

#comment .number {
  padding: 10px;
  vertical-align: center;
  border: 1px solid white;
  border-radius: 50%;
}

.credits {
  color: grey;
}

#historique h1 {
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}

#historique .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 30px 0px;
  min-height: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 0.3;
}

#historique .category .left {
  min-width: 400px;
  border-right: 1px solid black;
}

#historique .category .right {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

@media only screen and (max-width: 800px) {
  #historique h1 {
    border: 0px;
    padding-bottom: 0px;
  }
  #historique .category {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px;
  }
  #historique .category .left {
    border-bottom: 1px solid black;
    border-right: 0px;
    margin-bottom: 20px;
  }
  #historique p {
    padding: 0px;
  }
}

#historique .active {
  opacity: 1;
}

#lelieu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: grey;
  min-height: 50vh;
  margin-top: 100px;
  margin-bottom: 30px;
}

#lelieu #title-galerie {
  position: absolute;
  top: -35px;
  left: 50%s;
}

/* CETTE SEMAINE LAYOUT */
.day {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10%;
  background-color: white;
  height: 50vh;
  width: 100%;
  color: #282828;
  z-index: 0;
}

.day-detail {
  position: relative;
  padding-left: 25px;
  margin-right: 55px;
}

.day-title {
  margin-right: 15px;
}

.week-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 35px;
  height: 25vh;
  width: 100%;
  color: white;
  background-color: tomato;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.vertical-bar {
  width: 5px;
  height: 100%;
  background-color: black;
}

.parallax-banner {
  height: 30vh;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  z-index: 2;
}

.image-1 {
  background-image: url(images/palourdes.jpg);
}

.image-2 {
  background-image: url(images/garlic.jpg);
}

.image-3 {
  background-image: url(images/Scale_Common_Roach.JPG);
}

.rectangle {
  margin: 15px 15px;
  position: relative;
  padding: 25px 45px;
}

.title {
  font-size: 30px;
  position: absolute;
  top: -25px;
  left: 20px;
}

.bg--primary {
  background-color: #ffa927;
}

.bg--secondary {
  background-color: #c6967d;
}

.border--primary {
  border: 3px solid #ffa927;
}

.border--secondary {
  border: 3px solid #c6967d;
}

#achat {
  position: relative;
  padding: 35px 35px;
  margin: 25px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 50%;
}

.presentation {
  margin: 40px 0px;
}

.tip {
  position: relative;
  padding: 15px;
  border-radius: 15px;
  background-color: #dadada;
  margin: 20px 45px;
  height: auto;
}

.tip .icon {
  position: absolute;
  top: -30px;
  left: -30px;
  background-color: #d8775a;
  padding: 10px;
  border-radius: 30px;
}

#galerie-brunch {
  background-color: grey;
  width: 80vw;
  min-height: 80vh;
}

#onselache {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* HOME PAGE LAYOUT */
.homepage-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.homepage-column {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
}

.col1 {
  background-image: url(../images/garlic.jpg);
}

.col2 {
  background-image: url(../images/brunch.jpg);
}

.col3 {
  background-image: url(../images/palourdes.jpg);
}

/* OVERLAY EFFECT */
.homepage-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  color: black;
  font-size: 50px;
  padding: 35px;
  text-align: center;
}

.homepage-overlay:hover {
  opacity: 0.8;
}

.overlay1 {
  background-color: tomato;
}

.overlay2 {
  background-color: wheat;
}

.overlay3 {
  background-color: #b1fff7;
}

.homepage-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #1f0c08;
  z-index: 2000;
  color: brown;
}

.slider {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ba8a11;
  z-index: 2000;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.hide {
  background: #1f0c08;
  overflow: hidden;
}

.hide span {
  display: inline-block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamRotate180.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: white;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham4 .top {
  stroke-dasharray: 40 121;
}

.ham4 .bottom {
  stroke-dasharray: 40 121;
}

.ham4.active .top {
  stroke-dashoffset: -68px;
}

.ham4.active .bottom {
  stroke-dashoffset: -68px;
}

/* RESPONSIVE MEDIA QUERIES */
@media only screen and (max-width: 500px) {
  p {
    font-size: 15px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  /* HOMEPAGE */
  .homepage-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .homepage-column {
    max-height: 33vh;
  }
  /* CETTE SEMAINE */
  .day {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .day-detail {
    padding: 0px;
    padding: 0px;
    margin: 10px 0px;
  }
  .parallax-banner {
    height: 30vh;
  }
}

.thisweek__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 65px;
  padding-left: 50px;
  font-size: 80px;
  color: white;
  min-height: 30vh;
  position: relative;
  background-image: url(../images/table.jpg);
  background-size: cover;
  background-position: 0% 35%;
}

.thisweek__header .image-header.position1 {
  position: absolute;
  right: 5%;
  top: 80%;
  width: 200px;
  height: 80vh;
  z-index: 10;
  overflow: hidden;
}

.thisweek__header .image-header.position1 img {
  min-height: 100vh;
}

.thisweek__header .image-header.position2 {
  position: absolute;
  right: 15%;
  top: 160%;
  width: 200px;
  height: 50vh;
  z-index: 10;
  overflow: hidden;
}

.thisweek__header .image-header.position2 img {
  min-height: 20vh;
}

.thisweek__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 15px 50px;
  font-size: 13px;
}

.thisweek__content .thisweek__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 25px;
  width: 70%;
  background-color: #e1bd9e;
}

.thisweek__content article {
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  font-size: 20px;
  list-style-type: none;
}

.thisweek__content article p {
  font-size: 20px;
}

.thisweek__content article li {
  padding: 10px;
  border-left: 2px solid black;
  font-weight: thick;
  color: #434343;
}

.thisweek__content .thisweek__images {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.thisweek__content .thisweek__images img {
  max-height: 300px;
}

.buy__store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.buy__store > div {
  min-width: 30%;
  margin: 15px 15px;
}

.buy__store div.padded {
  padding: 20px;
  background-color: burlywood;
}

.buy__store div.padded-grey {
  padding: 20px;
  background-color: #939393;
}

@media screen and (max-width: 800px) {
  .buy__store > div {
    min-width: 30%;
    margin: 25px 15px;
    min-height: 250px;
  }
}

#online, #email, #telephone {
  position: relative;
}

#presentation {
  padding: 20px 0px;
}

.buy-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.btn--buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
  background-color: black;
  font-size: 20px;
  width: 100%;
  padding: 3px 5px;
  text-align: center;
  cursor: pointer;
}

.btn--buy:hover {
  background-color: white;
  color: black;
}

#call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#call a.btn-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-color: black;
  font-size: 20px;
  width: 100%;
  padding: 3px 5px;
  cursor: pointer;
  height: 100%;
}

#call .btn-tel:hover {
  background-color: white;
  color: black;
}

#conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 30px;
  width: 100%;
  border-radius: 30px;
  background-color: #c2c2c2;
}

#conditions .carrot {
  border-radius: 30px 0px 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
  background-color: white;
}

#conditions .text {
  padding: 15px 10px 15px 25px;
}

#conditions .text p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}

@media screen and (max-width: 1100px) {
  #conditions #conditions {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #conditions .carrot {
    border-radius: 30px 30px 0px 0px;
    width: 100%;
  }
}

/************ GENERAL STYLING ***********
******************************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  font-family: 'Abril Fatface', cursive;
  font-size: 15px;
  background-color: #e1e1e1;
  height: auto;
}

main {
  /* make sure to cover the screen */
  height: 100%;
  /* need a solid bg to hide the footer */
  background-color: #e1e1e1;
  /* put on top */
  position: relative;
  z-index: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
  font-size: 40px;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 20px;
  color: #878787;
  text-align: center;
}

p {
  font-size: 15px;
  padding: 15px 0px;
}

.font--small {
  font-size: 10px;
}

#site-title {
  font-size: 20px;
  letter-spacing: 5px;
}

/************ BUTTONS & LINKS ***********
******************************************/
a {
  text-decoration: none;
}

a:hover {
  color: white;
}

a:visited {
  color: white;
}

.btn--medium {
  color: black;
  font-size: 20px;
  border: 1px solid black;
  width: 250px;
  margin: 30px 0px;
  padding: 3px 5px;
}

.btn--medium:hover {
  background-color: black;
  color: white;
}

nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #340000;
  color: white;
}

nav a {
  color: white;
}

nav a:hover {
  color: black;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 15px;
  z-index: 1010;
  background-color: #3f1c00;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.top-bar--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

.btn--nav {
  color: white;
  font-size: 15px;
  border: 1px solid white;
  width: 250px;
  padding: 2px;
  width: 170px;
  margin-right: 25px;
  text-align: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn--nav:hover {
  background-color: white;
  color: black;
}

.hamburger {
  cursor: pointer;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s all ease-out;
  transition: 1s all ease-out;
  background-color: rgba(85, 4, 4, 0.9);
  clip-path: circle(100px at 110% 0%);
  -webkit-clip-path: circle(100px at 110% 0%);
  z-index: 1000;
  font-size: 25px;
}

.nav-links.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  clip-path: circle(2500px at 90% 0%);
  -webkit-clip-path: circle(2500px at 90% 0%);
  -webkit-transition: 1s all ease-out;
  transition: 1s all ease-out;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 800px) {
  .flex-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40vh;
  z-index: 1;
}

header .header--overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header--overlay.buy {
  background-image: linear-gradient(-45deg, rgba(245, 246, 252, 0.22), rgba(117, 19, 19, 0.33));
}

header .header--overlay.brunch {
  background-image: linear-gradient(-45deg, rgba(19, 46, 194, 0.52), rgba(40, 117, 19, 0.73));
}

header.header__buy {
  background-image: url("../images/pan.jpg");
  background-position: top;
  background-size: cover;
}

header.header__brunch {
  background-image: url("../images/brunch.jpg");
  background-position: top;
  background-size: cover;
}

footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 25px;
  color: #e6e6e6;
  background-color: #003535;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Source Sans Pro', sans-serif;
  z-index: 0;
}

footer a {
  color: white;
}

footer a:hover {
  color: grey;
}

footer p {
  font-size: 13px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer ul li {
  margin: 5px 15px;
}

footer .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */